*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
html,body{
    height: 100%;
    width: 100%;
}
body::-webkit-scrollbar{
    display: none;
}
#main{
    width: 100%;
    height: 100vh;
    background-color:orangered

}
nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 0vw 10vw;


}

nav a,i{
    font-size: 1vw;
    text-decoration: none;
    color: #fff;
}

.cntr-nav{
    display: flex;
    gap: 3vw;

}
nav i{
    font-size: 1.5vw;
}
.one{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 98, 13);

}
.one h1{
    font-size: 25vw;
    color: #fff;

}
#fanta{
    position: absolute;
    width: 40%;
    z-index: 2;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#orange2{
    position: absolute;
    top: 10%;
    left: 32%;
    width: 15%;
    z-index: 1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#orange1{
    position: absolute;
    width: 20%;
    z-index: 3;
    top: 55%;
    right: 30%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#leaf1{
    top: 10%;
    left: 3%;
    position: absolute;
    width: 20%;
    transform: rotate(50deg);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#leaf2{
    top: 60%;
    left: 80%;
    position: absolute;
    width: 20%;
    transform: rotate(50deg);
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}
#coconut{
    position: absolute;
    width: 20%;
    top: 0%;
    right: 0%;
}
.two{
    width: 100%;
    height: 100vh;
    background:#4d231c;
    display:flex;
}
.lft-two{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}
.rgh-two{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5vh;
    width: 50%;
    height: 100%;
}
.lft-two svg{
    margin-top: 50vh;
    width: 70%;
    transform: rotateX(50deg)
}
.rgh-two h1{
    color: #fff;
    font-size: 5vw;
}
.rgh-two p{
    font-size: 1vw;
    color: #fff;
    width: 80%;
}
.three{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 100%;
    height: 100vh;
    background-color: rgb(245, 98, 13);
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 20px;
    gap: 2vh;
    width: 25vw;
    height: 70vh;
    margin-top: 10vh;
}
.card:nth-child(1){
    background-color: white;
}
.card:nth-child(2){
    background-color:white;
}
.card:nth-child(3){
    background-color:white;
}
.card h1{
    margin-top: 40vh;
    font-size: 3vw;
}
.card button{
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    color: #fff;
    background-color:orange;
    padding: 1vw 2vw;
}
#sprite{
    top: 7%;
    position: absolute;
    width: 80%;
    transition: all cubic-bezier(0.19,00.5s);
}

#pepsi{
    top: -3%;
    position: absolute;
    width: 70%;
}
#lemon{
    top: -15%;
    width: 25vw;
    position: absolute;
    transition: all cubic-bezier(0.19,00.5s);
}
#ice{
    top: -20%;
    width: 20vw;
    position: absolute;
    transition: all cubic-bezier(0.19,00.5s);
}

